@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

:root {
    --v-d-sat-blue:hsl(238, 29%, 16%);
    --s-red: hsl(14, 88%, 65%);

    --v-d-gray-blue: hsl(237, 12%, 33%);
    --d-gray-blue: hsl(240, 6%, 50%);

    --divider:hsl(240, 5%, 91%);

}

*,
*::before,
*::after{
    box-sizing: border-box;
}


ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
    width: 100%;
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));

    font-family: 'Outfit', sans-serif, serif;
}

main {
    width: 950px;
    height: 500px;
    background-color: white;
    box-shadow: 0px 0px 20px 9px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    position: relative;

    background-image: url('./images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-position: -585px -290px;
}

.faq-container {
    height: 100%;

    display: flex;
    position: relative;
}

.box {
    position: absolute;
    width: auto;
    left: -100px;
    top: 41%;
}

.faq-container > div {
    height: 100%;
    width: 50%;
}
.faq-left-section {
    background: url('./images/illustration-woman-online-desktop.svg') no-repeat -85px 70px;
}

.faq-right-section {
    padding: 3em; 
}

.faq-right-section > h1 {
    color: var(--v-d-sat-blue);
}

.faq-question-lists {
    display: flex;
    flex-direction: column;
    width: 95%;
    gap: .5em;
}

.faq-question-lists > li {
    border-bottom: 1px solid var(--divider);
    height: 55px;
}

.question-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: .9em;
    color: var(--v-d-gray-blue);
}

.question-box:hover {
    color: var(--s-red);
}
.arrow-down-icon {
    width: auto;
    object-fit: contain;
    transition: all 200ms ease-in;
}

.answer {
    transition: opacity 100ms ease-in;
    visibility: hidden;
    opacity: 0;
    font-size: .8em;
    color: var(--d-gray-blue);
    width: 98%;
}

.active {
    flex: 1;
}

.active > .answer {
    visibility: visible;
    opacity: 1;
}
.active > .question-box {
    color: var(--v-d-sat-blue);
    font-weight: 700;
}

.active  .arrow-down-icon {
    transform: rotate(180deg);
}

.mobile-bg-woman {
    display: none
}


@media (max-width: 1080px){
    main {
        width: 85vw;
        height: 65vh;
    }

    .faq-right-section {
        padding: 2.5em;
    }
}

@media (max-width: 920px) {
    
    main {
        width: 65vw;
        height: 70vh;
    }
    .faq-container {
        flex-direction: column;
        align-items: center;
    }

    .faq-container > div {
        width: 100%;
        height: 12%;
    }

    .faq-left-section {
        background-image: none;
    }

    .mobile-bg-woman {
        height: 235px;
        aspect-ratio: 1;
        position: relative;
        top: -107px;
        display: block;
        margin: 0 auto;
    }

    .faq-right-section > h1 {
        text-align: center;
    }
    .box {
        display: none;
    }

    main {
        background-image: url('./images/bg-pattern-mobile.svg');
        background-repeat: no-repeat;
        background-position: center -5px;
    }

    .faq-right-section {
        height: 70%;
    }

    .faq-question-lists > li {
        height: 55px;
    }
}
@media (max-width: 700px) {
    body {
        padding-top: 6em;
    }

    main {
        height: 80vh;
    }
    .question-box {
        font-size: .8em;
    }
    .answer {
        font-size: .5em;
    }
    .faq-question-lists > li {
        height: 50px;
    }
}   

@media (max-width: 500px) {
    main {
        width: 95vw;
    }
}

@media (max-width: 340px) {
    h1 {
        font-size: 1.5em;
    }
    .question-box {
        font-size: .7em;
    }
}